<head>
    <title>Let's Play Ball!</title>
</head>

<body>
    <h1>NFL Pick'em</h1>
    <div style="float: right">
        {{> loginButtons}}
    </div>
    {{>navigation}}
    <div class="row">

        <div class="span2">
            {{>sidebar}}
        </div>

        <div class="span10">
            {{> endbox}}
        </div>
    </div>
</body>

<template name="endbox">
    {{#if currentRoute "home"}} {{> home}} {{/if}} 
    {{#if currentRoute "lobby"}} {{> lobby}} {{/if}} 
    {{#if currentRoute "events"}} {{> events}} {{/if}} 
    {{#if currentRoute "results"}} {{> results}} {{/if}} 
    {{#if currentRoute "leaderboard"}} {{> leaderboard}} {{/if}}
</template>