<template name="gameresult">
    <table width="100%">
        <tr>
            <th>Date</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Results?</th>
            <th>Your Cut</th>
        </tr>
        <tr>
            <td>December 5, 2015</td>
            <td>Falcon</td>
            <td>Steelers</td>
            <td>Lose</td>
            <td>$10000</td>
        </tr>
    </table>
</template>