<template name="gamelist">
    <table width="100%">
        <tr>
            <th>Date</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Make the Bet?</th>
        </tr>
        <tr>
            <td>December 5, 2015</td>
            <td>Falcon</td>
            <td>Steelers</td>
            <input type="checkbox" name="bet" value="1">Home
            <br>
            <input type="checkbox" name="bet" value="2">Away
            <br>
        </tr>
    </table>
</template>