<template name="home">
    <div class="well well-large">
        <label for="postext">Update Status</label>
        <input placeholder="What's on your mind?" type="input-xxlarge posttext" name="posttext" value="" id="posttext">
    </div>
</template>