<template name="lobby">
    <form>
        <div class="well well-large">
            <label for="postext">Team 1</label>
            <select class="home-team">
                <option value="Baltimore Ravens">Baltimore Ravens</option>
                <option value="Cincinnatti Bengals">Cincinnati Bengals</option>
                <option value="Cleveland Browns">Cleveland Browns</option>
                <option value="Pittsburgh Steelers">Pittsburgh Steelers</option>
                <option value="Chicago Bears">Chicago Bears</option>
                <option value="Detroit Lions">Detroit Lions</option>
                <option value="Green Bay Packers">Green Bay Packers</option>
                <option value="Minnesota Vikings">Minnesota Vikings</option>
                <option value="Altanta Falcons">Altanta Falcons</option>
                <option value="Carolina Panthers">Carolina Panthers</option>
                <option value="New Orleans Saints">New Orleans Saints</option>
                <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers</option>
                <option value="Houston Texans">Houston Texans</option>
                <option value="Indianapolis Colts">Indianapolis Colts</option>
                <option value="Jacksonville Jaguars">Jacksonville Jaugars</option>
                <option value="Tennessee Titans">Tennessee Titans</option>
                <option value="Buffalo Bills">Buffalo Bills</option>
                <option value="Miami Dolphins">Miami Dolphins</option>
                <option value="New England Patriots">New England Patriots</option>
                <option value="New York Jets">New York Jets</option>
                <option value="Dallas Cowboys">Dallas Cowboys</option>
                <option value="New York Giants">New York Giants</option>
                <option value="Philadelphia Eagles">Philadelphia Eagles</option>
                <option value="Washington Redskins">Washington Redskins</option>
                <option value="Arizona Cardinals">Arizona Cardinals</option>
                <option value="San Francisco 49ers">San Francisco 49ers</option>
                <option value="Seattle Seahawks">Seattle Seahawks</option>
                <option value="St. Louis Rams">St. Louis Rams</option>
                <option value="Denver Broncos">Denver Broncos</option>
                <option value="Kansas City Chiefs">Kansas City Chiefs</option>
                <option value="Oakland Raiders">Oakland Raiders</option>
                <option value="San Diego Chargers">San Diego Chargers</option>
            </select>

        </div>

        <div class="well well-large">
            <label for="postext">Team 2</label>
            <select class="away-team">
                <option value="Baltimore Ravens">Baltimore Ravens</option>
                <option value="Cincinnatti Bengals">Cincinnati Bengals</option>
                <option value="Cleveland Browns">Cleveland Browns</option>
                <option value="Pittsburgh Steelers">Pittsburgh Steelers</option>
                <option value="Chicago Bears">Chicago Bears</option>
                <option value="Detroit Lions">Detroit Lions</option>
                <option value="Green Bay Packers">Green Bay Packers</option>
                <option value="Minnesota Vikings">Minnesota Vikings</option>
                <option value="Altanta Falcons">Altanta Falcons</option>
                <option value="Carolina Panthers">Carolina Panthers</option>
                <option value="New Orleans Saints">New Orleans Saints</option>
                <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers</option>
                <option value="Houston Texans">Houston Texans</option>
                <option value="Indianapolis Colts">Indianapolis Colts</option>
                <option value="Jacksonville Jaguars">Jacksonville Jaugars</option>
                <option value="Tennessee Titans">Tennessee Titans</option>
                <option value="Buffalo Bills">Buffalo Bills</option>
                <option value="Miami Dolphins">Miami Dolphins</option>
                <option value="New England Patriots">New England Patriots</option>
                <option value="New York Jets">New York Jets</option>
                <option value="Dallas Cowboys">Dallas Cowboys</option>
                <option value="New York Giants">New York Giants</option>
                <option value="Philadelphia Eagles">Philadelphia Eagles</option>
                <option value="Washington Redskins">Washington Redskins</option>
                <option value="Arizona Cardinals">Arizona Cardinals</option>
                <option value="San Francisco 49ers">San Francisco 49ers</option>
                <option value="Seattle Seahawks">Seattle Seahawks</option>
                <option value="St. Louis Rams">St. Louis Rams</option>
                <option value="Denver Broncos">Denver Broncos</option>
                <option value="Kansas City Chiefs">Kansas City Chiefs</option>
                <option value="Oakland Raiders">Oakland Raiders</option>
                <option value="San Diego Chargers">San Diego Chargers</option>
            </select>
        </div>

        <br> Date Set:
        <input class="playdate" type="text" name="playdate">
        <br>
        <input type="submit" value="Submit">
    </form>
</template>