<template name="sidebar">
    <ul class="nav nav-list">
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/results">Results</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>

</template>